# Remove the php extension from the filename
RewriteEngine On
RewriteBase /api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^products$ index.php?request=products [NC,QSA,L]
RewriteRule ^products/([0-9,]+)$ index.php?request=products&id=$1 [NC,QSA,L]